@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
	text-align: center;
	background-color: #eee;
	font-family: 'Source Sans Pro', sans-serif;
}
.board {
	background: #bbada0 none repeat scroll 0 0;
	border-radius: 5px;
	display: inline-table;
	margin: 0 auto;
	padding: 5px;
	position: relative;
}
.board_row {
  display: table;
}
.board_cell {
	background-color: #cdc1b5;
	float: left;
	font-size: 40px;
	height: 100px;
	line-height: 96px;
	margin: 5px;
	overflow: hidden;
	width: 100px;
}
.game_result_container {
	background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
.game_result {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	margin-top: 130px;
	text-transform: uppercase;
}
a#restart_game {
	background: #eee none repeat scroll 0 0;
	border-radius: 5px;
	color: #3c3c3c;
	display: inline-block;
	margin-top: 30px;
	padding: 10px 20px;
	text-decoration: none;
}
.score_container {
	background: #bbada0 none repeat scroll 0 0;
	border-radius: 0 0 10px 10px;
	color: #eee;
	display: table;
	font-size: 25px;
	font-weight: bold;
	margin: 0 auto;
	padding: 10px 40px;
}
.score {
	font-weight: normal;
}
.board_cell[data-score="2"] {
	background-color: #F0E3DA;
	color: #766D64;
}
.board_cell[data-score="4"] {
	background-color: #ECE0CA;
	color: #7B7268;
}
.board_cell[data-score="8"] {
	background-color: #F2B179;
	color: #FAF4EC;
}
.board_cell[data-score="16"] {
	background-color: #F59565;
	color: #F8F9F4;
}
.board_cell[data-score="32"] {
	background-color: #F57C5F;
	color: #F7F8F7;
}
.board_cell[data-score="64"] {
	background-color: #F6603B;
	color: #FAF5E7;
}
.board_cell[data-score="128"] {
	background-color: #EDCE71;
	color: #F8F7F8;
}
.board_cell[data-score="256"] {
	background-color: #EDCC61;
	color: #FAF7F9;
}
.board_cell[data-score="512"] {
	background-color: #EDC850;
	color: #F9F6F2;
}
.board_cell[data-score="1024"] {
	background-color: #EDC53F;
	color: #F9F6F2;
}
.board_cell[data-score="2048"] {
	background-color: #EEC22E;
	color: #F9F7DB;
}